

.hero-section {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  min-height: calc(100vh - 80px); 
  text-align: center;
  gap: 50px; 
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row; 
    text-align: left;
  }
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3em;
  color: #ffffff; 
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 2em;
  color: #ffffff; 
  margin-bottom: 7px;
  min-height: 2.5em; 
}


.typewriter-text {
  border-right: 2px solid #ffffff; 
  white-space: nowrap; 
  overflow: hidden; 
  display: inline-block;
  vertical-align: bottom;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffffff; }
}


.hero-content p {
  font-size: 1.1em;
  color: #e0e0e0; 
  line-height: 1.6;
  margin-bottom: 30px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center; 
  gap: 20px;
}

@media (min-width: 768px) {
  .social-links {
    justify-content: flex-start; 
  }
}

.social-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2); 
}


.profile-image-container {
  width: 250px;
  height: 250px;
  border-radius: 50%; 
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  flex-shrink: 0; 

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.call-to-action {
 
  display: inline-block; 
  background-color: #2a466a; 
  color: white; 
  padding: 15px 30px; 
  border: none; 
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 1.1em; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
  margin-top: 20px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.call-to-action:hover {
  background-color: #223752; 
  transform: translateY(-3px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}
}