

.project-card {
  background-color: #2a466a; 
  border: 2px solid #6e6e6c;
  border-radius: 20px;
  padding: 25px;
  text-align: left;
  color: #ffffff;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 250px;
  width: 350px;
  max-width: 100%;

  
  box-shadow: 0 0 10px rgba(88, 188, 255, 0.5), 
              0 0 20px rgba(88, 188, 255, 0.5); 
  animation: project-card-glow 2s infinite alternate;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


@keyframes project-card-glow {
  from {
    box-shadow: 0 0 10px rgba(88, 188, 255, 0.5),
                0 0 20px rgba(88, 188, 255, 0.5),
                0 0 30px rgba(88, 188, 255, 0.5);
  }
  to {
    box-shadow: 0 0 15px rgba(88, 188, 255, 0.5),
                0 0 30px rgba(88, 188, 255, 0.5),
                0 0 50px rgba(88, 188, 255, 0.5);
  }
}

.project-card:hover {
  transform: translateY(-8px); 
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8),
              0 0 40px rgba(255, 215, 0, 0.5);
}

.project-card h3 {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 15px;
}

.project-description {
  font-size: 1em;
  color: #e0e0e0;
  line-height: 1.6;
  margin-bottom: 20px;
  flex-grow: 1; 
}


.technologies-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px; 
  margin-bottom: 20px;
}

.tech-badge {
  background-color: rgba(48, 46, 48, 0.15);
  color: #c2c1bd;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 0.85em;
  font-weight: 500;
  border: 1px solid #2c2c2a;
  white-space: nowrap;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.tech-badge:hover {
  background-color: rgba(28, 28, 26, 0.3);
  transform: translateY(-2px);
}



.project-actions {
  margin-top: auto;
  text-align: center;
}

.github-button {
  display: inline-block;
  background-color: #395d8b;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-button:hover {
  background-color: #395d8b;
  transform: translateY(-3px);
}