
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif; 
 
  background-color: #395d8b; 
  color: #ffffff; 
}

a {
  color: #ffffff; 
  text-decoration: none;
}

button {
  background-color: #676766; 
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease; 
}

button:hover {
  background-color: #525251;
  transform: scale(1.05); 
  font-size: 1.2em; 
}


main {
  flex-grow: 1;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}